.roomform {
    margin-left: -5px;
    margin-right: 0px;
    padding: 0px 0px 0x 0px;
}

.roomform input {
    margin-left: 2px;
    margin-right: 0px;
    padding: 0px 0px 0px 10px;
}

.roomform a {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 19px;
    width: 150px;
    height: 34px;
}





