.tournamentlistform {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 0px 0x 0px;
}


.tournamentlistform .Btns  {
    margin-top: 0px;
    margin-left: -13px;
    margin-bottom: 60px;
}


.tournamentlistform .Btns a {
    width: 150px;
    height: 34px;  
}

.tournamentlistform table tbody tr td {
    text-align: left;
    vertical-align: initial;
  }


  
